#mainBox{
    column-gap: 20px;
}


#meal-log {
    /* background-color: aquamarine; */
    width: 800px;
    /* border: 2px solid black; */
    margin-left: 100px;
}

#meal_display{
    width: 1000px;
    /* border: 2px solid black; */
}